<div>
    <form>
        <label>Tipo do Automóvel</label>
        <br>
        <input type="text" name="Type" [(ngModel)] = "type">
        <br>

        <label>Código do Chassi</label>
        <br>
        <input type="text" name="Type" [(ngModel)] = "chassi">
        <br>

        <label>Marca</label>
        <br>
        <input type="text" name="Type" [(ngModel)] = "brand">
        <br>

        <label>Modelo do Automóvel</label>
        <br>
        <input type="text" name="Type" [(ngModel)] = "model">
        <br>

        <label>Ano do Modelo</label>
        <br>
        <input type="number" name="Type" [(ngModel)] = "modelYear">
        <br>

        <label>Ano de Fabricação</label>
        <br>
        <input type="number" name="Type" [(ngModel)] = "factoryYear">
        <br>  
        
        <button (click) = "createAutomobile()">Criar</button>
      </form>
</div>